html(lang="en")
    title= `${title}`
    head
        script(src="https://code.jquery.com/jquery-3.4.1.slim.js" integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous")
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
        link(rel='stylesheet', href='/css/style.css')
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(property="og:site_name" content=`${version}`)
        meta(property="og:title" content=`${title}`)
        meta(property="og:description" content="Tired of skipping song after song in your Spotify playlist? With just a few clicks, optimize your playlists for your listening tastes!")
        meta(property="og:url" content = "https://joemuzina.com:8080/home")
        meta(property="og:image" content="https://joemuzina.com:8080/images/logo.png")
    .container.listing-reg

    block content
        body.bg-img(style="height:100% !important;")
            header
                nav.navbar.navbar-expand-lg.navbar-light.navbar-dark.nav-dark-bg.fixed-top
                    a.navbar-brand(href="./") #{version}
                    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarNavDropdown.collapse.navbar-collapse
                        ul.navbar-nav.ml-auto.order-12
                            li.nav-item.dropdown.active
                                a.nav-link.dropdown-toggle(href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    img.rounded-circle.img-fluid.nav-profile(src = `${user.profile_picture}`) 
                                    span(style = "font-weight: bold; text-shadow: 1px 1px black;")   Welcome, #{user.displayName}! 
                                .dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                                    script(src="js/logout.js")
                                    form.logout(method="POST", style="margin-block-end: 0px;", onsubmit="logout()")
                                        input(type = "hidden", name = "type", value = "logout")
                                        button.btn-link.dropdown-item(type = "submit") Log out
                        ul.navbar-nav.mr-auto.order-md-1
                            li.nav-item.active
                                a.nav-link(href='./') Home 
                            li.nav-item.active
                                a.nav-link(href='./about') About
                            li.nav-item.active
                                a.nav-link(href='https://joemuzina.com' target="_blank") Developer
                            li.nav-item.active
                                a.nav-link(href='https://github.com/jmuzina/spotify_playlist_optimizer' target="_blank") GitHub
        .main
            if creation_success
                h2.page-header Playlist successfully created! Thank you for using Spotify Playlist Optimizer!
                br
            else if optimization_success
                h2.page-header Playlist successfully optimized! Thank you for using Spotify Playlist Optimizer!
                br
            .row(style="padding: 10%;")
                .col-lg-7.home-explanation
                    p How deep into your roots do you want to dig?
                    p We can suggest songs for you based on varying periods of Spotify data.
                    p We can also limit the number of suggestions you get, if you don't want to shake things up too much!
                .col-lg-5.data-container        
                    form.optimization-data(method = "POST")
                        input(type = "hidden", name = "type", value = "settings")
                        p Data Range:
                        select.form-control(id = "time_range", name = "time_range")
                            option(value = "short_term") Short Term (Last 4 weeks)
                            option(value = "medium_term") Medium Term (Last 6 months)
                            option(value = "long_term") Long Term (Several Years)
                        p.mt-3 Track Limit:
                        select.form-control(id = "limit", name = "limit")
                            -var i = 1;
                            while i < 51
                                option(value = i)= i++
                        button.mt-4.btn.btn-outline-success.spotify-button(type = "submit") Confirm

