html(lang="en")
  title= `${title}`
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  meta(charset="UTF-8")
  div.container.listing-reg

  block content
    body(style = "background-image: url('/images/background.jpg');")
        form(method = "POST")
            h4.mr-2.mt-2(style = "color:white; text-align:right; font-size:18px;")
                img.rounded-circle(src = `${pfp}`, class = "img-fluid", style = "height: 4%; width: 2%;") 
                span   Welcome, #{name}! |
                    button.btn-link(type = "submit", style = "background-color: transparent; border: none;") Log out
                h1(style="color:white; text-align: right;") [TEST] Loaded all playlists successfuly!:
                each playlist in playlist_arr
                    p(style="color:white; text-align: right;") #{playlist.p_name}
                    //-console.log(`${playlist.p_name}`)
            
