html(lang="en")
  title= `${title}`
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/style.css')
  meta(charset="UTF-8")
  div.container.listing-reg

  block content
    body(style = "background-image: url('images/background.jpg'); background-repeat: no-repeat; background-attachment: fixed;")
        h4.mr-2.mt-2(style = "color:white; text-align:right; font-size:18px;")
            form(method = "POST")
                img.rounded-circle(src = `${user.profile_picture}`, class = "img-fluid", style = "height: 4%; width: 2%;") 
                span(style = "font-weight: bold; text-shadow: 1px 1px black;")   Welcome, #{user.p_name}! |
                    input(type = "hidden", name = "type", value = "logout")
                    button.btn-link(type = "submit", style = "background-color: transparent; border: none; font-weight: bold; text-shadow: 1px 1px black; color: #92B6FF;") Log out
        .container.playlist-image(style="margin-top:20px;")
          img(src = `${playlist_images['0']['url']}`, style = "width: 300px; height: 300px;")

        p.mt-3.playlist-title Optimizing #{playlist_name}
        .track-container

          .optimize-track-list
            p.page-header Suggested playlist
            -var ob = combined_songs;
            -for(var song in ob)
              // Song to add
              -if (comparison["add"].includes(ob[song]['id']))
                .track-row.add-song
                  img(src=`${ob[song]['image']}`)
                  span #{ob[song]['name']} by #{ob[song]['artists']}
              // Song to remove
              -if (comparison["remove"].includes(ob[song]['id']))
                .track-row.remove-song
                  img(src=`${ob[song]['image']}`)
                  span #{ob[song]['name']} by #{ob[song]['artists']}
              // Song to keep
              -if (comparison["keep"].includes(ob[song]['id']))
                .track-row
                  img(src=`${ob[song]['image']}`)
                  span #{ob[song]['name']} by #{ob[song]['artists']}
            