html(lang="en")
  title= `${title}`
  head
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.css')
    script(src="https://kit.fontawesome.com/82d7d212c3.js" crossorigin="anonymous")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  .container.listing-reg

  block content
    body.bg-img
      header
        nav.navbar.navbar-expand-lg.navbar-light.navbar-dark.nav-dark-bg.fixed-top
          a.navbar-brand(href="./") #{version}
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarNavDropdown.collapse.navbar-collapse
            ul.navbar-nav.ml-auto.order-12
              li.nav-item.dropdown.active
                a.nav-link.dropdown-toggle(href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                  img.rounded-circle.img-fluid.nav-profile(src = `${user.profile_picture}`) 
                  span(style = "font-weight: bold; text-shadow: 1px 1px black;")   Welcome, #{user.displayName}! 
                .dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                  script(src="js/logout.js")
                  form.logout(method="POST", style="margin-block-end: 0px;", onsubmit="logout()")
                    input(type = "hidden", name = "type", value = "logout")
                    button.btn-link.dropdown-item(type = "submit") Log out
            ul.navbar-nav.mr-auto.order-md-1
              li.nav-item.active
                a.nav-link(href='./') Home 
              li.nav-item.active
                a.nav-link(href='#') About
              li.nav-item.active
                a.nav-link(href='https://github.com/joemuzina/spotify_playlist_optimizer' target="_blank") GitHub
              li.nav-item.active
                a.nav-link(href='#') Contact
      .container.playlist-image(style="margin-top:20px;")
        img(src = `${playlist_images['0']['url']}`)
      .container.track-list
        h1.mt-3.playlist-title Optimizing #{playlist_name}
        -var ob = combined_songs;
        form.optimize-form(method="POST")
          input(type = "hidden", name = "type", value = "save_changes")
          -for(var song in ob)
            -if (comparison["add"].includes(ob[song]['id']))
              .track-row.add-song.row
                .col-9.title-col.border-right.border-dark
                  .track-img-container
                    img.optimize-img(src=`${ob[song]['image']}`)
                  .title-text-container
                    span #{ob[song]['name']} by #{ob[song]['artists']}
                .col-3.button-col.btn-group-toggle(data-toggle="buttons")
                  label.btn.btn-info.active.add-label Add
                    input(type="checkbox", checked, id = `${ob[song]['id']}`, name="add_song", value=`${ob[song]['id']}`)
            -if (comparison["remove"].includes(ob[song]['id']))
              .track-row.remove-song.row
                .col-9.title-col.border-right.border-dark
                  .track-img-container
                    img.optimize-img(src=`${ob[song]['image']}`)
                  .title-text-container
                    span #{ob[song]['name']} by #{ob[song]['artists']}
                .col-3.button-col.btn-group-toggle(data-toggle="buttons")
                  label.btn.btn-warning.active.remove-label Remove
                    input(type="checkbox", checked, id = `${ob[song]['id']}`, name="remove_song", value=`${ob[song]['id']}`)
            -if (comparison["keep"].includes(ob[song]['id']))
              .track-row.song.row
                .col-9.title-col.border-right.border-dark
                  .track-img-container
                    img.optimize-img(src=`${ob[song]['image']}`)
                  .title-text-container
                    span #{ob[song]['name']} by #{ob[song]['artists']}
                .col-3.button-col.btn-group-toggle(data-toggle="buttons")
                  label.btn.btn-primary.active.keep-label Keep
                    input(type="checkbox", id = `${ob[song]['id']}`, name="remove_song", value=`${ob[song]['id']}`)
        
          button.btn.btn-primary.mt-4(type="submit" name = "button_type", value = "save_changes") Save Changes

      script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
      script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
      script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
      script(src="js/optimize_button.js")

          