html(lang="en")
  title= `${title}`
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/style.css')
  meta(charset="UTF-8")
  div.container.listing-reg

  block content
    body(style = "background-image: url('images/background.jpg'); background-repeat: no-repeat; background-attachment: fixed;")
        h4.mr-2.mt-2(style = "color:white; text-align:right; font-size:18px;")
            form(method = "POST")
                img.rounded-circle(src = `${user.profile_picture}`, class = "img-fluid", style = "height: 4%; width: 2%;") 
                span(style = "font-weight: bold; text-shadow: 1px 1px black;")   Welcome, #{user.p_name}! |
                    input(type = "hidden", name = "type", value = "logout")
                    button.btn-link(type = "submit", style = "background-color: transparent; border: none; font-weight: bold; text-shadow: 1px 1px black; color: #92B6FF;") Log out
        .container.playlist-image(style="margin-top:20px;")
          img(src = `${playlist_images['0']['url']}`, style = "width: 300px; height: 300px;")

        p.mt-3(style = "color: white; font-weight: bold; text-shadow: 1px 1px black; text-align: center; font-size: 32px;") #{playlist_name}
        div.container.justify-content-center(style = "background-color: rgba(20, 20, 20, 0.45); border-radius: 25px;")
          ul.list-group
          br
          -var ob = playlist_tracks;
          -for(var song in ob)
            -console.log(ob[song]);
            li.list-group-item
              img(src=`${ob[song]['image']}`, height = "20px", width = "20px")
              span #{ob[song]['name']} by #{ob[song]['artists']}
          br