html(lang="en")
  title= `${title}`
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  meta(charset="UTF-8")
  div.container.listing-reg

  block content
    body(style = "background-image: url('images/background.jpg'); background-repeat: no-repeat; background-attachment: fixed;")
        h4.mr-2.mt-2(style = "color:white; text-align:right; font-size:18px;")
            form(method = "POST")
                img.rounded-circle(src = `${user.profile_picture}`, class = "img-fluid", style = "height: 4%; width: 2%;") 
                span(style = "font-weight: bold; text-shadow: 1px 1px black;")   Welcome, #{user.p_name}! |
                    input(type = "hidden", name = "type", value = "logout")
                    button.btn-link(type = "submit", style = "background-color: transparent; border: none; font-weight: bold; text-shadow: 1px 1px black; color: #92B6FF;") Log out
        div.container(style="margin-top:70px;")
          if making_new
            div.col-md-12
              form.form-inline(method = "POST")
                div.form-group(style = "width: 100%;")
                  div.form-row(style = "margin-left: 30%;")
                    input(type = "hidden", name = "type", value = "submit_new")
                    input.form-control.ml-2(required, type = "text", id = "playlist_name", name = "playlist_name", placeholder = "New playlist name")
                    input.form-check-input.mt-3.ml-3(type = "checkbox", id = "private", name = "private")
                    label.form-check-label.mt-2(for = "autoSizingCheck2", style = "text-shadow: 1px 1px black; color: white;") Make this playlist private
                  div.form-row(style = "margin-left: 43%;")
                    button.mt-2.form-control.btn-success(type = "submit", value = "submit_new", style = "width: 100%; margin-left:") Create new playlist
          div.row.justify-content-center
            div.col-md-8
              p.mt-3(style = "color: white; font-weight: bold; text-shadow: 1px 1px black; text-align: center; font-size: 32px;") Suggested Songs
              div.container.justify-content-center(style = "background-color: rgba(20, 20, 20, 0.45); border-radius: 25px;")
                ul.list-group
                br
                -var ob = suggestions;
                -for(var song in ob)
                    li.list-group-item.list-group-item #{ob[song]['name']} by #{ob[song]['artists']}
                br
                if !making_new
                  form(method = "POST")
                    input(type = "hidden", name = "type", value = "suggestion_action")
                    div.row
                      button.mt-2.form-group.form-control.btn-success(type = "submit", name = "button_type", value = "create_new", style = "text-align: center; width: 80%; margin-left: 10%;") Create new playlist with suggested songs
                    div.row
                      div.col-md-2
                      div.col-md-5
                        select.form-control.mt-1(style = "width: 100%; margin-top: 15%;", id = "selected_playlist", name = "selected_playlist")
                          option(value = "", hidden, style = "text-align: center;") Optimize existing playlist
                          -var ob = user;
                          -for(var prop in ob['u_playlists'])
                            option(value = `${ob['u_playlists'][prop]['p_id']}`) #{ob['u_playlists'][prop]['p_name']}
                      div.col-md-5.align-self-center
                        button.mt-1.form-group.form-control.btn-primary(type = "submit", name = "button_type", value = "optimize_existing", style = "width: 50%;") Go
        